__pycache__/

/BrahmsRestoreDLNN/dlnn_data/
/BrahmsRestoreDLNN/tensorflow/
/BrahmsRestoreDLNN/tf-nightly/
/BrahmsRestoreDLNN/recent_model/
/BrahmsRestoreDLNN/output_grid_search/
/BrahmsRestoreDLNN/src/subclass_model_example.py
/BrahmsRestoreDLNN/src/custom_train_loop_example.py
/BrahmsRestoreDLNN/src/install_and_run.py
/BrahmsRestoreDLNN/src/dlnn_brahms_restore_fit_fail_old.py
/BrahmsRestoreDLNN/logs/
BrahmsRestoreDLNN/src/logs/

.vs

/BrahmsRestoreNMF/all_notes_ff_wav/
/BrahmsRestoreNMF/avged_ova_notes/
/BrahmsRestoreNMF/brahms_partial_wav/
/BrahmsRestoreNMF/trimmed_notes/
/BrahmsRestoreNMF/output_incorrect_nmf/
/BrahmsRestoreNMF/output_reconstructed_wav/
/BrahmsRestoreNMF/output_restored_wav_v1/
/BrahmsRestoreNMF/output_restored_wav_v2/
/BrahmsRestoreNMF/output_test_noise/
/BrahmsRestoreNMF/output_test_noise_learnnoise/
/BrahmsRestoreNMF/output_test_other/
/BrahmsRestoreNMF/output_test_penalty/
/BrahmsRestoreNMF/output_test_writefix_newbv/
/BrahmsRestoreNMF/old_test_output/

.vscode
.idea
