__pycache__/

/tensorflow/
/tf-nightly/
/logs/

/brahms_restore_ml/drnn/drnn_data/
/brahms_restore_ml/drnn/tensorflow/
/brahms_restore_ml/drnn/tf-nightly/
/brahms_restore_ml/drnn/recent_model/
/brahms_restore_ml/drnn/recent_model_nobias/
/brahms_restore_ml/drnn/recent_model_nodimred/
/brahms_restore_ml/drnn/recent_model_nodimred_nobias/
/brahms_restore_ml/drnn/recent_model_1of4/
/brahms_restore_ml/drnn/recent_model_2of4/
/brahms_restore_ml/drnn/recent_model_3of4/
/brahms_restore_ml/drnn/recent_model_4of4/
/brahms_restore_ml/drnn/recent_model_1of4_noiseloop/
/brahms_restore_ml/drnn/recent_model_2of4_noiseloop/
/brahms_restore_ml/drnn/recent_model_3of4_noiseloop/
/brahms_restore_ml/drnn/recent_model_4of4_noiseloop/
/brahms_restore_ml/drnn/recent_model_bvs/
/brahms_restore_ml/drnn/recent_model_a430hz/
/brahms_restore_ml/drnn/recent_model_a430hz_bvs/
/brahms_restore_ml/drnn/recent_model_a430hz_bvs_dmgedp/
/brahms_restore_ml/drnn/recent_model_a436hz_bvs_dmgedp/
/brahms_restore_ml/drnn/recent_model_133of3072/
/brahms_restore_ml/drnn/recent_model_149of3072/
/brahms_restore_ml/drnn/recent_model_1496of3072/
/brahms_restore_ml/drnn/recent_model_151of3072/
/brahms_restore_ml/drnn/src/subclass_model_example.py
/brahms_restore_ml/drnn/src/custom_train_loop_example.py
/brahms_restore_ml/drnn/src/install_and_run.py
/brahms_restore_ml/drnn/src/dlnn_brahms_restore_fit_fail_old.py
/brahms_restore_ml/drnn/logs/
/brahms_restore_ml/drnn/src/logs/
/brahms_restore_ml/drnn/output_grid_search_save_11_19/
/brahms_restore_ml/drnn/output_grid_search_PC_bs5_oom/
/brahms_restore_ml/drnn/output_grid_search_bvs/
/brahms_restore_ml/drnn/output_grid_search_bvs_2/
/brahms_restore_ml/drnn/output_grid_search_many_epochs/
/brahms_restore_ml/drnn/output_grid_search_low_tsteps1/
/brahms_restore_ml/drnn/output_grid_search_low_tsteps2/
/brahms_restore_ml/drnn/output_grid_search/
/brahms_restore_ml/drnn/output_restore/
/brahms_restore_ml/drnn/eval_wav_smpls/

.vs

/blind_test_samples/
/full_test_samples/
/brahms_note_trim_a3.wav
/brahms_note_trim_aflat3.wav
/brahms_note_trim_c4.wav
/brahms_note_trim_first_eflat4.wav
/brahms_note_trim_g6.wav
/brahms_trim_bv_a3.wav
/brahms_trim_bv_aflat3.wav
/brahms_trim_bv_c4.wav
/brahms_trim_bv_first_eflat4.wav
/brahms_trim_bv_g6.wav
/brahms_begin_from_trim.wav

/brahms_restore_ml/nmf/all_notes_ff_wav/
/brahms_restore_ml/nmf/all_notes_ff_wav_dmged/
/brahms_restore_ml/nmf/all_notes_ff_wav_A=430Hz/
/brahms_restore_ml/nmf/all_notes_ff_wav_A=436Hz/
/brahms_restore_ml/nmf/avged_ova_notes/
/brahms_restore_ml/nmf/brahms_partial_wav/
/brahms_restore_ml/nmf/trimmed_notes/
/brahms_restore_ml/nmf/output/
/brahms_restore_ml/nmf/old/old_outputs/
/brahms_restore_ml/nmf/output_incorrect_nmf/
/brahms_restore_ml/nmf/output_reconstructed_wav/
/brahms_restore_ml/nmf/output_restored_wav_v1/
/brahms_restore_ml/nmf/output_restored_wav_v2/
/brahms_restore_ml/nmf/output_test_noise/
/brahms_restore_ml/nmf/output_test_noise_learnnoise/
/brahms_restore_ml/nmf/output_test_other/
/brahms_restore_ml/nmf/output_test_penalty/
/brahms_restore_ml/nmf/output_test_writefix_newbv/
/brahms_restore_ml/nmf/old_test_output/

.vscode

.DS_Store